[Unit]
Description=LabelPrinter
After=network.target

[Service]
User=root
WorkingDirectory=/root/BrotherLabelPrinter/backend
ExecStartPre=/bin/bash -c 'source /root/BrotherLabelPrinter/venv/bin/activate'
ExecStart=/root/BrotherLabelPrinter/venv/bin/python -m fastapi run main.py --port 80
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
